<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
        <h2>Please select category</h2>
		<div class="card">
			<div class="card-body">
				<div th:switch="${categories}" class="container my-5">
					<div class="col-md-10">
						<h2 th:case="null">No category typs present!</h2>
						<div th:case="*">
                            <p class="my-5">
                                <ul th:each="category : ${categories}">
                                    <li><a th:href="@{/categories/{categoryName}/transactions(categoryName=${category.getCategoryName()})}" th:text="${category.getCategoryName()}"></a></li>
                                </ul>
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>