<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${transactions}" class="container my-5">
					<div class="col-md-10">
						<h2 th:case="null">No transactions present!</h2>
						<div th:case="*">
                            <h3 th:text = "|${categoryName} - Summary|"></h3>
                            <div>
                                <label>Grand Total:</label>
                                <label th:text = "${#numbers.formatCurrency(categorySummary.getGrandTotal())}"></label>
                            </div>
                            <div>
                                <label>Average monthly spend:</label>
                                <label th:text = "${#numbers.formatCurrency(categorySummary.getAverageMonthlySpend())}"></label>
                            </div>
                
							<br>
								<div>
									<form  th:action="@{/annual_reports/{category_name}(category_name=${categoryName})}">
										<button type="submit">Annual spending reports</button>
									</form>
								</div>
                                <div>
									<form action="/categories">
										<input type="submit" value="Back" />
									</form>
                                </div>
                            </br>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Vendor</th>
										<th>Datestamp</th>
										<th>Type</th>
										<th>Amount</th>
                                        <th>Category</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="transaction : ${transactions}">
										<td th:text="${transaction.vendor}"></td>
										<td th:text="${transaction.datestamp}"></td>
                                        <td th:text="${transaction.type}"></td>
                                        <td th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
                                        <td th:text="${transaction.categoryName}"></td>
                                        <td>                
                                            <form th:action="@{transactions/{transactionId}/edit_category(transactionId=${transaction.transactionId})}">
                                                <button type="submit">Edit Category</button>
                                            </form>
                                        </td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>